<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create | Update Coffee Product</title>
</head>
<body>
        <h1 th:text="${selectProEdit.name}">inner text</h1>
<!--Can cai fomr lam o nhap, de nhan nut save luuw thong tin nhap  for=id an voi id='id' cho gui-->
        <!--name = name la bien, value la $ -->
<!--        <form th:action="@{/update}" th:object="${selectProduct}" method="post">-->
        <form th:action="@{/products/save}"  method="post"  th:object="${selectProEdit}">
            <p>
                <label for="id">Product id</label>
<!--                <input type="Text" name="id" th:value="${selectProEdit.id}" id="id"/>-->
                <input type="text"  th:field="*{id}" id="id"/>
            </p>
            <p>
                <label for="name">Product Name</label>
                <input type="text"  th:field="*{name}" id="name"/>
            </p>
            <p>
<!--                <label for="name">Product Price</label>-->
                <label for="price">Product Price</label>
                <input type="number" th:field="*{price}" id="price"/>
            </p>

<!--              field dong 2 vai tro : lay value cua cot tron object show trong che do  edit,-->
<!--                                     dat ten cho o nhap la ten cot trich tu trong object th:name="id" , th value=gia tri  cua cot selectproedit.id-->
<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--                <label for="cate">Category</label>-->
<!--                <select name="category" id="cate" >-->
<!--                    <option value="100">Traf Sua</option>-->
<!--                    <option value="200" selected="true">cafe</option>-->
<!--                    <option value="300">Banh keo</option>-->
<!--                    <option value="400">VPP</option>-->
<!--                    <option value="500">Bia Ruou</option>-->
<!--                </select>-->

<!--            </p>-->

            <p>
                <label for="cate">Category</label>
                <select name="category" id="cate" >
                    <option th:each="x : ${cates}"
                            th:text="${x.name}"
                            th:value="${x.id}"
                    th:selected ="${x.id==200}" >Tra sua bi thay the bang th:text</option>

                </select>

            </p>
            <button type="submit">SAVE</button>
        </form>





</body>
</html>