<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create | Update Coffee Product</title>
</head>
<body>
        <h1 th:text="${selectProEdit.name}">inner text</h1>
<!--Can cai fomr lam o nhap, de nhan nut save luuw thong tin nhap  for=id an voi id='id' cho gui-->
        <!--name = name la bien, value la $ -->
<!--        <form th:action="@{/update}" th:object="${selectProduct}" method="post">-->
        <form th:action="@{/products/edit}"  method="post">
            <p>
                <label for="id">Product id</label>
                <input type="Text" name="id" th:value="${selectProEdit.id}" id="id"/>
            </p>
            <p>
                <label for="name">Product Name</label>
                <input type="Text" name="name" th:value="${selectProEdit.name}" id="name"/>
            </p>
            <p>
                <label for="name">Product Price</label>
                <input type="Text" name="price" th:value="${selectProEdit.price}" id="price"/>
            </p>
            <butt>
                <input type="submit" /> SAVE</butt>
        </form>





</body>
</html>