<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.html">
<head>
    <meta charset="UTF-8">
    <title>The list of Products</title>
</head>
<body>

    <h1 >Cafe Le Van Them - The list of Product </h1>
<!--<h2 th:text="${msg}">Chao ngay moi</h2>-->
    <h1 th:if="${formMsg}" th:text="'STATUS: ' + ${formMsg}" style="color:deeppink">Edit successfull</h1>
    <!-- khong xo formMsg do ko phai hang chinh chu ma gui ke, chi hien khi runtime!-->
    <h1 th:if="${formMsg}" th:text="'Edit name: ' + ${pname}" style="color:deeppink">Edit successfull</h1>
<h3>The list of Le Van Them Coffee</h3>
    <p>
        <a th:href="@{/products/create/}">create a new product</a>
    </p>
<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action(Update|Delete)</th>
    </thead>
    <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">    </td>
                <td th:text="${product.name}">    </td>
                <td th:text="${product.price}">    </td>
                <td>
                    <a th:href="@{'/products/edit/' + ${product.id}}">Update</a>
                    <a th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
    </tbody>
</table>
</body>


<!-- Script alert sau khi trang load xong -->
<script th:if="${formMsg}" th:inline="javascript">
    window.addEventListener('load', function() {
        // Thymeleaf sẽ render thành: alert("…");
        alert([[${formMsg}]]);
    });
</script>
</html>
