<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create | Update Coffee Product</title>
</head>
<body>
        <h1 th:text="${selectProEdit.name}">inner text</h1>
<!--Can cai fomr lam o nhap, de nhan nut save luuw thong tin nhap  for=id an voi id='id' cho gui-->
        <!--name = name la bien, value la $ -->
<!--        <form th:action="@{/update}" th:object="${selectProduct}" method="post">-->
        <form th:action="@{/products/edit}"  method="post">
            <p>
                <label for="id">Product id</label>
                <input type="Text" name="id" th:value="${selectProEdit.id}" id="id"/>
            </p>
            <p>
                <label for="name">Product Name</label>
                <input type="Text" name="name" th:value="${selectProEdit.name}" id="name"/>
            </p>
            <p>
                <label for="name">Product Price</label>
                <input type="Text" name="price" th:value="${selectProEdit.price}" id="price"/>
            </p>
<!--            <p>-->
<!--                <label for="cate">Category</label>-->
<!--                <select name="category" id="cate" >-->
<!--                    <option value="100">Traf Sua</option>-->
<!--                    <option value="200" selected="true">cafe</option>-->
<!--                    <option value="300">Banh keo</option>-->
<!--                    <option value="400">VPP</option>-->
<!--                    <option value="500">Bia Ruou</option>-->
<!--                </select>-->

<!--            </p>-->

            <p>
                <label for="cate">Category</label>
                <select name="category" id="cate" >
                    <option th:each="x : ${cates}"
                            th:text="${x.name}"
                            th:value="${x.id}"
                    th:selected ="${x.id==200}" >Tra sua bi thay the bang th:text</option>

                </select>

            </p>
            <butt>
                <input type="submit" /> SAVE</butt>
        </form>





</body>
</html>